{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Here is my blog dedicated to AWS maps that I recently drew in order to help me in studying AWS services and to prepare to AWS Solutions Architect Certification. </p>
  </div>
</div>
 

{% for a in blog_list %}
    {% include 'blog/list-inline.html' with blog_post=a truncate=True detail=False %}
{% endfor %}


    
{% endblock %}